.awesome-title-path {
	padding-top: 100px;
	padding-bottom: 36px;
}
.awesome-title {
	text-align: center;
	font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #212121;
  position: relative;
}
.awesome-title::after {
  content: "";
  display: block;
 	width: 64px;
  border: 1px solid #E72424;
	margin: 34px auto 34px auto;
}
.awesome-text {
	text-align: center;
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
 	font-size: 0.875rem;
 	line-height: 1.1875rem;
 	color: #86878B;
}
.awesome-cards-path {
	padding-top: 31px;
	padding-bottom: 89px;
	display: flex;
}
.awesome-card {
	max-width: 350px;
	margin: 0 15px;
}
.card-image {
	display:flex;
 	width: 70px;
 	height: 70px;
 	border: 1px solid #E72424;
 	border-radius: 50%;
 	margin: 0 auto;
 	background-color: #fff;
}
.card-image-pic {
 	display: block;
 	margin: auto;
}
.card-title {
 	margin: 30px auto 6px auto;
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: bold;
 	text-align: center;
 	font-size: 1.25rem;
 	line-height: 1.6875rem;
 	color: #333333;
}
.card-text {
 	margin: 10px auto 20px auto;
 	font-family: Open Sans;
 	font-style: normal;
 	font-weight: normal;
	font-size: 0.875rem;
 	line-height: 1.1875rem;
 	text-align: center;
 	color: #000000;
}
@media (max-width: 992px) {
	.awesome-card {
		margin-left: 15px;
		margin-right: 15px;
	}
	.awesome-card:last-child {
		margin-top: 45px;
	}
  .awesome-cards-path {
		display: flex;
    flex-wrap: wrap;
    justify-content: center;
	}
}
@media (max-width: 788px) {
	.awesome-card {
		margin-top: 45px;
	}
  .awesome-card:first-child {
		margin-top: 0;
	}
}