.axure {
  padding-top: 57px;
  padding-bottom: 38px;
  background-image: url("../img/background\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.axure::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.axure-heading {
  position: relative;
  z-index: 2;
}
.axure-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}
.axure-title::after {
  content: "";
  display: block;
  width: 64px;
  border: 1px solid #FFFFFF;
  margin: 34px auto 34px auto;
}
.axure-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.axure-button {
  margin: 57px auto 0 auto;
  width: 8.4375rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.axure-button-text {
  justify-content: center;
  align-items: center;
  display: flex;
  display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 2.625rem;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  position: relative;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.axure-button-text:hover {
  color: #EC7979 !important;
  background-color: transparent;
  border-color: #EC7979;
}
.axure-button-text:hover::before {
  bottom: 0;
  top: auto;
  height: 100%;
}
.axure-button-text::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  content: "";
  color: #EC7979 !important;
  background:  rgba(196, 196, 196, 0.15);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}