.pricing {
    background-color: #E5E5E5;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.pricing-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #212121;  
    position: relative;
}
.pricing-title::after {
    content: "";
    position: absolute;
    width: 64px;
    height: 2px;
    border: 1px solid #E72424;
    background-color:  #E72424;
    left: 47%;
    top: 76px;
}
.pricing-text {
    margin-top: 70px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}
.pricing-cards-path {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.pricing-card {
    width: 340px;
    display: flex;
    flex-direction: column;
}
.pricing-card-head {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2px;
    background: #333333;
    /*transition: 1.5s;*/
}
.pricing-card-head:hover {
    background: #D98943;
}
.pricing-card-head:first-child {
    margin-top: 0;
}
.pricing-card-head-price {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2px;
    background: #333333;
    /*transition: 1.5s;*/
}
.pricing-card-head-price:hover {
    background: #D98943;
}
.pricing-card-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}
.pricing-card-price {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 100px;
    color: #FFFFFF;
}
.pricing-card-subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.5);
}
.pricing-card-item {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 4px;
    background: #FFFFFF;
    /*transition: 1s;*/
}
.pricing-card-item:hover {
    background-color:  #fdcf99;
}
.pricing-card-item-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #86878B;
}