.social-media {
    background: #F8EFEF;
    padding-top: 14px;
    padding-bottom: 17px;
}
.social-media-container {
    display: flex;
    justify-content: space-between;
}
.social-media-text {
    max-width: 365px;
}
.social-media-text-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #333333;

}
.social-media-text-item {
    margin-top: 14px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #86878B;
}
.social-media-icons {
    width: 690px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media-icons .fab {
    font-size: 42px;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}
.social-media-icons .fas {
    font-size: 42px;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}
.social-media-icons .fab:hover {
    transform: scale(1.3, 1.3);
    color: #333333;
}
.social-media-icons .fas:hover {
    transform: scale(1.3, 1.3);
    color: #333333;
}